<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :site_link %>
  </div>

  <div class="field">
    <%= form.label :keyword, "Select Element/Keyword:" %>
    <%= form.select :keyword, [ 'html', 'header', 'head','style', 'article', 'section', 'hgroup', 'title', 'footer',  'meta', 'link', 'nav', 'body', 'script',  'var', 'source', 'div', 'p', 'table', 'tbody', 'thead', 'tr', 'td', 'th', 'form', 'table', 'label', 'select', 'option', 'a', 'ul', 'li', 'ol',  'img','h1', 'h2', 'h3', 'h4', 'h5', 'h6',  'br', 'hr',  'blockquote', 'main'].sort, id: :site_keyword %> keyword
  </div>

  <hr>
    <h4>Optional Title </h4>
    <div class="field">
      <%= form.label :title, 'Your Title:' %>
      <%= form.text_field :title, id: :site_title %>
    </div>
  <hr>

  <br>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>
<br>
