<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container bg-red-400 mx-auto px-24" style="background: linear-gradient(90deg, #ff4b4b 0%, #ed8787 100%)">

  <h2 class="text-6xl font-bold mb-2 text-white pt-10">
    Paste YouTube Link Below.
  </h2>

  <h3 class="text-2xl mb-8 text-gray-100 text-grey-800 ">
      <div class="field">
        <%= form.label :link %>
        <%= form.text_field :link, id: :site_link %>
      </div>
  </h3>

  <button>
    <div class="actions bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider">
      <%= form.submit %>
    </div>
  </button>


</div>

  <br>
  <br>

<% end %>

<br>
<br>
