<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @site.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @site.keyword %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
