

<p>
  <img src="<%= @thumbnail_link %>" alt="">
</p>


<p>
  <strong>Title:</strong>
  <%= @official_title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @site.link %>
</p>

<p>
  <strong>Keywords:</strong>
  <%#= @html_doc.at('meta[name="keywords"]').values %>
  <%= @html_doc.at('meta[name="keywords"]')['content'] %>

</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
