<!DOCTYPE html>
<html>
  <head>
    <title>VidKeywordScraper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!--import bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <!--  -->
  </head>

  <body class="bg-red-100">

    <%= render "layouts/nav" %>

    <div class="bg-white container mx-auto text-gray-850 text-base mt-12  rounded-lg">
      <br>
      <br>
      <br>
      <div class="px-20">

        <div class="mb-12 h-screen">
        <p class="text-green-600 transition duration-500 ease-out"><%= notice %></p>
        <p class="text-red-600"><%= alert %></p>

        <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
